{
	"presets": [
		"flow",
		["env", {
			"targets": {
				"browsers": [
					"> 1%",
					"last 2 versions",
					"ie >= 9"
				]
			},
			"useBuiltIns": true,
			"debug": false,
			"modules": false
		}]
	],
	"plugins": [
		["module-resolver", {
			"alias": {
				"vue-flatpickr": "@jacobmischka/vue-flatpickr",
				"@": "./resources/assets/js"
			},
			"extensions": [
				".vue"
			]
		}],
		"syntax-dynamic-import",
		["transform-object-rest-spread", {
			"useBuiltIns": true
		}],
		"transform-vue-jsx"
	],
	"env": {
		"test": {
			"presets": [
				"flow",
				["env", {
					"targets": {
						"node": "current"
					},
					"useBuiltIns": true,
					"debug": false
				}]
			],
			"plugins": [
				"dynamic-import-node",
				["transform-object-rest-spread", {
					"useBuiltIns": true
				}],
				"transform-vue-jsx"
			]
		}
	}
}
