{
	"presets": [
		["env", {
			"targets": {
				"browsers": [
					"> 1%",
					"last 2 versions",
					"ie >= 9"
				]
			},
			"useBuiltIns": true,
			"debug": true,
			"modules": false
		}]
	],
	"plugins": [
		"syntax-dynamic-import",
		["module-resolver", {
			"root": [
				"./resources/assets/js"
			],
			"alias": {
				"vue-flatpickr": "@jacobmischka/vue-flatpickr"
			}
		}],
		["transform-object-rest-spread", {
			"useBuiltIns": true
		}],
		"transform-vue-jsx"
	]
}
