/vendor
/node_modules
/bower_components
Homestead.yaml
.env*
/.vagrant
public/build/js/stats.json
/public/ui-tester.html
/public/ui-tester.js
/public/build/
/public/css/
/public/js/
/public/mix-manifest.json
/*.log
