/* http://work.smarchal.com/twbscolor/css/455a6437474fcfd8dcffffff0 */

.navbar-default {
  background-color: #455a64;
  border-color: #37474f;
}
.navbar-default .navbar-brand {
  color: #cfd8dc;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #cfd8dc;
}
.navbar-default .navbar-nav > li > a {
  color: #cfd8dc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #37474f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #37474f;
}
.navbar-default .navbar-toggle {
  border-color: #37474f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #37474f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cfd8dc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cfd8dc;
}
.navbar-default .navbar-link {
  color: #cfd8dc;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #cfd8dc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #37474f;
  }
}
